<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Post | Django CRUD App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</head>
<body class="container">
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Django CRUD App</span>
    <a href="/" class="btn btn-primary">All Posts</a>
</nav>
<form action="/post" method="post">
    {% csrf_token %}
    {% if post.id %}
    <input type="hidden" name="id" value="{{post.id}}" />
    {% else %}
    <input type="hidden" name="id" value="0" />
    {% endif %}
    <div class="form-group">
        <label for="title" class="form-label">Post Title</label>
        <input type="text" id="title" name="title" {%if post.title %} value="{{post.title}}" {%endif%} class="form-control" />
    </div>
    <div class="form-group">
        <label for="content" class="form-label">Post Content</label>
        <textarea id="content" name="content" class="form-control" rows="9">{%if post.content %}{{post.content}}{%endif%}</textarea>
    </div>
    <div class="form-group">
        <input type="submit" id="submit" name="submit" value="Save Post" class="btn btn-success" />
    </div>
</form>
</body>
</html>